In [12]:
import numpy as np
from scipy.stats import norm
from src.scale import scale
from src.sim import sim
from model.pcr import PCR
from model.pls import PLS


x = np.loadtxt("./data/x.txt", delimiter=",")
y = np.loadtxt("./data/y.txt", delimiter=",")
index = np.loadtxt("./data/index.txt.", delimiter=",", dtype=bool)
names = np.loadtxt("./data/names.txt", delimiter=",", dtype=str)
x, _, _ = scale(x)
x_train = x[index]
x_test = x[~index]
y_train = y[index]
y_test = y[~index]
n, p = x_train.shape
pcr1 = PCR(x_train, y_train, names[0:p], is_scale=True, is_var_exp=True)
pcr1.pcr()
# pcr1.b
pcr1.cv(n)
pcr1.report_coe()
pcr1.report_var_exp()
pcr1.predict_err(x_test, y_test)
pcr1.test_err(x_test, y_test)
############

   err_mean   err_std
0  0.545192  0.174140
1  0.720011  0.237154
2  0.514112  0.132185
3  0.536946  0.127903
4  0.540274  0.126829
5  0.479880  0.122634
6  0.448309  0.104437
7  0.521274  0.178724

In [13]:
is_scale = False
is_var_exp = True
pls1 = PLS(x_train, y_train, names[0:p], is_scale, is_var_exp)
pls1.pls()
pls1.report_var_exp()
pls1.cv(n)
pls1.report_coe()
pls1.predict_err(x_test, y_test)
pls1.test_err(x_test, y_test)

   err_mean   err_std
0  0.533392  0.155954
1  0.526937  0.150380
2  0.427048  0.113390
3  0.500771  0.153937
4  0.505514  0.168831
5  0.520620  0.177773
6  0.521386  0.178557
7  0.521274  0.178724

In [14]:
###################################
n, p, rho = 100, 30, 0.5
mu = norm.rvs(size=p, scale=1)
beta0, beta1 = 0.5, 0.5 * np.ones(p, dtype=float)
x, y = sim(n, p, rho, mu, beta0, beta1)
n1 = 2000
x1, y1 = sim(n, p, rho, mu, beta0, beta1)
names = list(range(p))
pcr1 = PCR(x, y, names, is_scale=True, is_var_exp=True)
pcr1.pcr()
# pcr1.b
pcr1.cv(n)
pcr1.report_coe()
pcr1.report_var_exp()
pcr1.predict_err(x1, y1)
pcr1.test_err(x1, y1)
############

     err_mean   err_std
0   11.810504  1.440445
1   11.855334  1.427398
2   10.690994  1.246403
3    7.482385  0.986747
4    2.479395  0.379088
5    1.898882  0.257034
6    1.878135  0.251890
7    1.752702  0.220963
8    1.769523  0.222125
9    1.783756  0.224087
10   1.793859  0.224076
11   1.794972  0.224300
12   1.747931  0.220556
13   1.726734  0.223122
14   1.747205  0.224491
15   1.766695  0.227346
16   1.730924  0.225823
17   1.697439  0.212985
18   1.654965  0.202472
19   1.647246  0.202678
20   1.575741  0.199522
21   1.489568  0.196848
22   1.492406  0.197194
23   1.503335  0.202795
24   1.571611  0.214253
25   1.585651  0.215940
26   1.515866  0.211764
27   1.518977  0.217002
28   1.549928  0.235025
29   1.550185  0.235167

In [15]:
is_scale = False
is_var_exp = True
pls1 = PLS(x, y, names, is_scale, is_var_exp)
pls1.pls()
pls1.report_var_exp()
pls1.cv(n)
pls1.report_coe()
pls1.predict_err(x1, y1)
pls1.test_err(x1, y1)

    err_mean   err_std
0   2.863265  0.368326
1   1.564372  0.205437
2   1.493969  0.204001
3   1.510131  0.215157
4   1.478284  0.215299
5   1.502511  0.224261
6   1.543353  0.232439
7   1.536074  0.231209
8   1.552886  0.234721
9   1.552895  0.234493
10  1.552763  0.234988
11  1.549136  0.234694
12  1.549424  0.234883
13  1.549409  0.234965
14  1.549640  0.235064
15  1.550202  0.235197
16  1.550255  0.235190
17  1.550206  0.235174
18  1.550206  0.235173
19  1.550187  0.235168
20  1.550186  0.235167
21  1.550185  0.235167
22  1.550185  0.235167
23  1.550185  0.235167
24  1.550185  0.235167
25  1.550185  0.235167
26  1.550185  0.235167
27  1.550185  0.235167
28  1.550185  0.235167
29  1.550185  0.235167